
# EditorConfig is awesome: https://EditorConfig.org

root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.{ts,js}]
quote_type = single

[*.md]
max_line_length = off
trim_trailing_whitespace = false
# {
#     "root": true,
#     "parser": "@typescript-eslint/parser",
#     "plugins": [
#       "@typescript-eslint"
#     ],
#     "extends": [
#       "eslint:recommended",
#       "plugin:@typescript-eslint/recommended",
#       "prettier"
#     ],
#     "parserOptions":  {
#       "ecmaVersion":  2020,  // Allows for the parsing of modern ECMAScript features
#       "sourceType":  "module"  // Allows for the use of imports
#     },
#     "rules": {
#       "semi": [2, "always"],
#       "space-before-function-paren": [0, {"anonymous": "always", "named": "always"}],
#       "camelcase": 0,
#       "no-return-assign": 0,
#       "quotes": ["error", "single"],
#       "@typescript-eslint/no-non-null-assertion": "off",
#       "@typescript-eslint/no-namespace": "off",
#       "@typescript-eslint/explicit-module-boundary-types": "off"
#     }
#   }
